/* custom CSS for dwa-15 p1 */

body {
  background-color: #eee;
}

img, .well {
  box-shadow: 2px 2px 5px #222;
}

ul {
  list-style-type: none;
}

.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 0px;
  box-shadow: 2px 2px 5px #888;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.nav-pills>li>a {
  border-radius: 0px;
}

.well {
  border-radius: 0px;
  box-shadow: 2px 2px 5px #888;
  border: none;
  background-color: #fff;
  color: #000;

}

.well h3 {
  margin-top: 10px;
}

.marketing {
  border-radius: 0px;
  box-shadow: 2px 2px 5px #888;
  border: none;
  background-color: #aaa;
  color: #000;
}

.social-links > a > img {
  max-height: 50px;
  width: auto;
  margin-bottom: 10px;
}
